@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    margin: 0px;
    font-family:helvetica;
    overflow-x: hidden;
    /* font-family: 'Lora'; */
}

.light{
    --bg-color : white;
    --font-color : rgb(36,36,36); 
    --unselected :  rgb(119, 117, 117);
    
}
.loginPage-div{
    display: flex;
    box-sizing: border-box;
    padding:2vh 4vw;
    /* width: 100vw; */
}
.loginPage-div img{
    height: 80vh;
}
.signupPage-loginSection{
    margin:2vh 8vw;
    padding: 0vh 2vw;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    font-size: 20px;
    color: var(--font-color);
    border: 0.5px solid rgb(177, 176, 176);
    border-radius: 10px;
}
.loginPage-loginSection{
    margin:8vh 8vw;
    padding: 0vh 2vw;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    font-size: 20px;
    color: var(--font-color);
    border: 0.5px solid rgb(177, 176, 176);
    border-radius: 10px;
}
.signupPage-loginSection img,
.loginPage-loginSection img{
    height: 5vh;
    margin-left: 2vw;
}
.loginPage-Login-title{
    display: flex;
    font-size: 30px;
    padding-bottom: 2vh;
}
.loginPage-name-div,
.loginPage-email-div,
.loginPage-password-div{
    display: flex;
    align-items:center;
    margin: 2vh 0;
}
.loginPage-name-div label,
.loginPage-email-div label,
.loginPage-password-div label{
    color: rgb(109, 107, 107);
    position: absolute;
    margin-left: 1vw;
    padding: 0.4vh 0.5vw;
    transition: 0.15s all ease-in;
    font-size: 18px;
}
#Name,#Email,#Password{
    height: 8vh;
    width: 20vw;
    border-radius: 5px;
    border: 0.5px solid rgb(109, 107, 107);
    font-size: 18px;
    padding: 0 0.5vw;
    position: relative;
}
#Name:focus,#Email:focus,#Password:focus{
    outline: none;
}
label.emailClick,
.loginPage-name-div #Name:focus ~ label,
.loginPage-name-div #Name:valid ~ label,
.loginPage-email-div #Email:focus ~ label,
.loginPage-email-div #Email:valid ~ label,
.loginPage-password-div #Password:focus ~ label,
.loginPage-password-div #Password:valid ~ label{
    color: rgb(243, 241, 241);
    background-color: rgb(44,124,151);
    font-size: 13px;    
    transform: translate(10% ,-140%);
    border-radius: 20px;

}
.showPassword-p{
    position: absolute;
    margin-left: 18vw;
    cursor: pointer;
}
.forgotPassword{
    font-size: 15px;
    color: rgb(10,102,194);
    cursor: pointer;
    margin-bottom: 2vh;
}
.forgotPassword:hover{
    text-decoration: underline;

}
.loginPage-submit-btn{
    width: 20vw;
    height: 6vh;
    border-radius: 3vh;
    background-color: rgb(10,102,194);
    border: 0.5px solid rgb(10,102,194);
    color: white;
    font-size: 20px;
}
.loginPage-submit-btn:hover{
    background-color: rgb(15, 79, 143);
}
.loginPage-error-div{
    margin: 3vh 0;
    border: 0.5px solid rgb(231, 73, 73);
    border-radius: 10px;
    padding: 2vh 0.5vw;
    width:20vw;
    color:rgb(231, 73, 73);
}


/* Navbar Styling */
nav{
    height: 10vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    padding:0.5vh 1vw;
    align-items: center;
    border-bottom: 0.01px solid rgb(231, 222, 222);
    font-family: Arial, Helvetica, sans-serif;
    /* position: fixed;
    top: 0px; */
    background-color: white;
}
.navbar-homepage img{
    height: 7vh;
    border-radius: 50%;
    cursor: pointer;
}
.navbar-searchbar img{
    height: 3.5vh;
    position: absolute;
    margin-left: 1.8vw;
    margin-top: 1.3vh;
}
.navbar-searchbar input{
    height: 6vh;
    width: 12vw;
    border-radius: 7.5vw;
    background-color: rgb(240, 239, 239);
    border: none;
    margin-left: 1vw;
    margin-right: 53vw;
    padding: 0 1vw;
    padding-left: 3vw;
    font-size: 14px ;
    outline: none;
}

.navbar-publish-div,
.navbar-login-div,
.navbar-signup-div,
.navbar-logout-div{
    font-size: 15px;
    border: none;
    color: var(--unselected);
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin: 0 1vw ;
    cursor: pointer;
}
.navbar-publish-div img,
.navbar-signup-div img{
    height: 4vh;
    margin-top: 0.5vh;
}
.navbar-logout-div img{
    height: 3.2vh;
}
.navbar-userinfo{
    font-size: 18px;
    border: none;
    /* color: rgb(119, 117, 117); */
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin: 0 1vw ;
    cursor: pointer;
}
.LoginAndSignup,
.UserInfoAndLogout{
    display: flex;
    align-items: center;
}

/* user Page styling */

.userPage-div{
    display: flex;
    /* margin-top: 10vh; */
    overflow: hidden;
}
.userPage-content-section{
    width:65vw;
    min-height: 100vh;
    box-sizing: border-box;
    border-right: 0.5px solid rgb(219, 219, 219);
    padding: 0 8vw;
    overflow: hidden;
}
.UserPage-userName{
    font-size: 40px;
    margin:8vh 0;
}
.userPage-routes{
    color: var(--unselected);
    display: flex;
    gap: 2.5vw;
    font-size: 14px;
    padding-bottom: 2vh;
    border-bottom: 0.5px solid rgb(219, 219, 219);
    cursor: pointer;
}
.userPage-routes p:hover{
    text-decoration: underline;
}
.userPage-home-div{
    padding-top: 4vh;
}
.userPage-article{
    padding: 4vh 0;
    border-bottom: 0.5px solid rgb(219, 219, 219);
}
.userPage-article-title{
    font-family: 'Lora' ;
    font-size: 22px;
    color: var(--font-color);
    margin-bottom: 2vh;
}
.userPage-article-data{
    font-family: 'Lora' ;
    color: rgb(66, 65, 65);
    font-size: 15px;
}
.userPage-article-details{
    display: flex;
    box-sizing: border-box;
    padding-top: 4vh;
}
.userPage-article-tag{
    font-family: 'Lora' ;
    height: 4vh;
    padding:0 0.5vw;
    padding-top: 0.8vh;
    background-color: rgb(233, 229, 229);
    border-radius: 2.4vh;
    font-size: 15px;
}
.userPage-article-save-div img{
    height: 3vh;
    margin-left: 33vw;
}
.userPage-article-dots-div img{
    height: 4vh;
    transform: translateY(-15%);
    margin-left: 2vw;
}
.article-searchPage-dialog,
.userPage-article-dialog,
.landingPage-article-dialog{
    border : 0.5px solid rgb(218, 213, 213);
    outline: none;
    border-radius: 5px;
    margin-left: 43.5vw;
    margin-top: 4.5vh;
    opacity: 0;
    transform: translateY(-20%);
    transition: all 0.25s ease-out;
}
.article-searchPage-dialog-settingsAndEdit,
.userPage-article-dialog-settingsAndEdit,
.landingPage-article-dialog-settingsAndEdit {
    border-bottom: 0.5px solid rgb(226, 223, 223);
    margin-bottom: 2vh;
}
.article-searchPage-dialog-removeFromFeed,
.userPage-article-dialog-deleteStory,
.landingPage-article-dialog-removeFromFeed{
    color: rgb(212, 51, 51) !important;
}
.article-searchPage-dialog p,
.landingPage-article-dialog p,
.userPage-article-dialog p{
    font-size: 15px;
    font-family: 'lora';
    color: rgb(56, 55, 55);
    margin-bottom: 2vh;
    cursor: pointer;
}


/* USER PAGE BIO SECTION */
.userPage-Bio-section-div{
    box-sizing: border-box;
    width: 35vw;
    padding: 4vh 3.5vw;
    /* position: fixed;
    right: 0px; */
}
#userPage-profilePicture{
    display: none;
}
.userPage-Bio-section-profileImage{
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    object-fit: cover;
}
.userPage-Bio-section-userName{
    font-weight: 600;
    color: rgb(46, 46, 46);
    padding-top: 2.5vh;
    font-family: 'lora';
    font-size: 18px;
}
.userPage-Bio-section-followers-count{
    padding-top: 0.3vh;
    font-family: 'lora';
    font-size: 17px;
    color: var(--unselected);
}
.userPage-Bio-section-myBio{
    padding-top: 2.8vh;
    font-size: 15px;
    font-family: 'lora';
    padding-right: 2vw;
    color:var(--unselected);
}
.userPage-Bio-section-myBio-edit{
    color: rgb(18, 138, 18);
    font-size: 14px;
    letter-spacing: 0.3px;
    width: 5.5vw;
    margin: 2vh 0;
    cursor: pointer;
}
.userPage-Bio-section-myBio-edit:hover{
    color: rgb(18, 54, 18);
}
.userPage-Bio-section-followings-header{
    font-size: 15px;
    padding: 1vh 0;
    margin-bottom: 2vh;
}
.userPage-Bio-section-following-details{
    display: flex;
    align-items: center;
    padding: 1vh 1vw; 
    font-family: 'lora';
    font-size: 16px;
    color: rgb(66, 65, 65);
    cursor: pointer;
    transition: all 0.25s ease-out;
}
.userPage-Bio-section-following-details:hover{
    color: rgb(163, 149, 19);
}
.userPage-Bio-section-following-details img{
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    border: 0.1px solid rgb(192, 189, 189);
    margin-right: 1vw;
    font-weight: 100;
    overflow: hidden;
}

/* dialog box */

.userPage-Bio-section-editProfile-dialogBox{
    padding: 4vh 3vw;
    box-sizing: border-box;
    height: 85vh;
    width: 40vw;
    margin: 7.5vh 30vw;
    border: 0.5px solid rgb(230, 225, 225);
    border-radius: 8px;
}
.userPage-Bio-section-editProfile-Heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.userPage-Bio-section-editProfile-Heading button{
    background-color: white;
    border: none;
}
.userPage-Bio-section-editProfile-Heading button img{
    height: 4vh;
    object-fit: cover;
}
.userPage-Bio-section-editProfile-dialogBox-form img{
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2vw;
    margin-top: 1vh;
}
.editProfile-Image-container{
    display: flex;
    /* align-items: center; */
}
#editProfile-Image{
    display: none;
}
.editProfile-Image-div label {
    color: rgb(18, 138, 18);
    font-size: 15px;
    letter-spacing: 0.3px;
    width: 5.5vw;
    margin: 2vh 0;
    cursor: pointer;
}
.editProfile-Image-remove{
    color: rgb(218, 68, 68);
    font-size: 15px;
    letter-spacing: 0.3px;
    width: 5.5vw;
    margin: 2vh 0;
    cursor: pointer;
}
.editProfile-bio-div input,
.editProfile-name-div input{
    border: none;
    font-size: 16px;
    border-bottom: 0.5px solid rgb(190, 186, 186);
    padding: 1vh 0;
    margin-top: 2vh;
    width: 30vw;
}
.editProfile-name-div input:focus-visible,
.editProfile-bio-div input:focus-visible{
    outline: none;
}
.editProfile-Image-heading,
.editProfile-bio-heading,
.editProfile-name-heading{
    margin-top: 5vh;
    font-size: 15px;
    color: rgb(92, 88, 88);
}
.editProfile-bio-details,
.editProfile-name-details{
    margin-top: 0.5vh;
    color: rgb(160, 157, 157);
    font-size: 13px;
}
.editPage-buttons-div{
    margin-top: 4vh;
    display: flex;
    justify-content: flex-end;
}
.editPage-cancel-button{
    background-color: white;
    border: 1px solid rgb(31, 179, 31);
    color: rgb(31, 179, 31);
    height: 6vh;
    width: 7vw;
    font-size: 15px;
    border-radius: 3.5vw;
    cursor: pointer;
}

.editPage-save-button{
    background-color: rgb(31, 179, 31);
    border: none;
    color: white;
    height: 6vh;
    width: 7vw;
    font-size: 15px;
    border-radius: 3.5vw;
    margin-left: 1.5vw;
    cursor: pointer;
}
.editPage-save-button:hover{
    background-color: rgb(14, 112, 14);
}
.editPage-cancel-button:hover{
    color: rgb(14, 112, 14);
    border-color:  rgb(14, 112, 14);
}
.editPage-save-button:disabled{
    background-color: rgb(187, 233, 187);
}

/* Account Page */


.accountPage-div{
    display: flex;
    /* margin-top: 10vh; */
    overflow: hidden;
}
.accountPage-content-section{
    width:65vw;
    min-height: 100vh;
    box-sizing: border-box;
    border-right: 0.5px solid rgb(219, 219, 219);
    padding: 0 8vw;
    overflow: hidden;
}
.accountPage-userName{
    font-size: 40px;
    margin:8vh 0;
}
.accountPage-routes{
    color: var(--unselected);
    display: flex;
    gap: 2.5vw;
    font-size: 14px;
    padding-bottom: 2vh;
    border-bottom: 0.5px solid rgb(219, 219, 219);
    cursor: pointer;
}
.accountPage-routes p:hover{
    text-decoration: underline;
}
.accountPage-home-div{
    padding-top: 4vh;
}
.accountPage-article{
    padding: 4vh 0;
    border-bottom: 0.5px solid rgb(219, 219, 219);
}
.accountPage-article-title{
    font-family: 'Lora' ;
    font-size: 22px;
    color: var(--font-color);
    margin-bottom: 2vh;
}
.accountPage-article-data{
    font-family: 'Lora' ;
    color: rgb(66, 65, 65);
    font-size: 15px;
}
.accountPage-article-details{
    display: flex;
    box-sizing: border-box;
    padding-top: 4vh;
}
.accountPage-article-tag{
    font-family: 'Lora' ;
    height: 4vh;
    padding:0 0.5vw;
    padding-top: 0.8vh;
    background-color: rgb(233, 229, 229);
    border-radius: 2.4vh;
    font-size: 15px;
}
.accountPage-article-save-div img{
    height: 3vh;
    margin-left: 33vw;
}
.accountPage-article-dots-div img{
    height: 4vh;
    transform: translateY(-15%);
    margin-left: 2vw;
}

/* ACCOUNT PAGE BIO SECTION */
.accountPage-Bio-section-div{
    box-sizing: border-box;
    width: 35vw;
    padding: 4vh 3.5vw;
    /* position: fixed;
    right: 0px; */
}
#accountPage-profilePicture{
    display: none;
}
.accountPage-Bio-section-profileImage{
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    object-fit: cover;
}
.accountPage-Bio-section-userName{
    font-weight: 600;
    color: rgb(46, 46, 46);
    padding-top: 2.5vh;
    font-family: 'lora';
    font-size: 18px;
}
.accountPage-Bio-section-followers-count{
    padding-top: 0.3vh;
    font-family: 'lora';
    font-size: 17px;
    color: var(--unselected);
}
.accountPage-Bio-section-myBio{
    padding-top: 2.8vh;
    font-size: 15px;
    font-family: 'lora';
    padding-right: 2vw;
    color:var(--unselected);
}
.accountPage-Bio-section-myBio-edit{
    color: rgb(18, 138, 18);
    font-size: 14px;
    letter-spacing: 0.3px;
    width: 5.5vw;
    margin: 2vh 0;
    cursor: pointer;
}
.accountPage-Bio-section-myBio-edit:hover{
    color: rgb(18, 54, 18);
}
.accountPage-Bio-section-followings-header{
    font-size: 15px;
    padding: 1vh 0;
    margin-bottom: 2vh;
}
.accountPage-Bio-section-following-details{
    display: flex;
    align-items: center;
    padding: 1vh 1vw; 
    font-family: 'lora';
    font-size: 16px;
    color: rgb(66, 65, 65);
    cursor: pointer;
    transition: all 0.25s ease-out;
}
.accountPage-Bio-section-following-details:hover{
    color: rgb(163, 149, 19);
}
.accountPage-Bio-section-following-details img{
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    border: 0.1px solid rgb(192, 189, 189);
    margin-right: 1vw;
    font-weight: 100;
    overflow: hidden;
}
.accountPage-Bio-section-Follow-btn{
    background-color: rgb(31, 179, 31);
    border: none;
    color: white;
    height: 5vh;
    width: 7vw;
    font-size: 15px;
    border-radius: 3.5vw;
    cursor: pointer;
    margin: 4vh 0;
}
.accountPage-Bio-section-Following-btn{
    background-color: white;
    border: 1px solid rgb(31, 179, 31);
    color: rgb(31, 179, 31);
    height: 5vh;
    width: 7vw;
    font-size: 15px;
    border-radius: 3.5vw;
    cursor: pointer;
    margin: 4vh 0;
}
#accountPage-Bio-section-toggleFollow-btn:disabled{
    background-color: rgb(187, 233, 187);
    border: none;
}

/* LandingPage */

.landingPage-div{
    display: flex;
    /* margin-top: 10vh; */
    overflow: hidden;
}
.landingPage-content-section{
    width:65vw;
    min-height: 100vh;
    box-sizing: border-box;
    border-right: 0.5px solid rgb(219, 219, 219);
    padding: 0 8vw;
    overflow: hidden;
}
.landingPage-userName{
    font-size: 40px;
    margin:8vh 0;
}
.landingPage-routes{
    color: var(--unselected);
    display: flex;
    gap: 2.5vw;
    font-size: 14px;
    padding-bottom: 2vh;
    border-bottom: 0.5px solid rgb(219, 219, 219);
    cursor: pointer;
}
.landingPage-routes p:hover{
    text-decoration: underline;
}
.landingPage-home-div{
    padding-top: 4vh;
}
.landingPage-article{
    padding: 4vh 0;
    border-bottom: 0.5px solid rgb(219, 219, 219);
}
.landingPage-article-accountDetails{
    display: flex;
    align-items: center;
}
.landingPage-article-accountDetails p{
    font-family: 'lora';
}
.landingPage-article-accountDetails img{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    object-fit:cover;
    border: 0.1px solid rgb(226, 222, 222);
    margin-right: 1vw;
}
.landingPage-article-title{
    font-family: 'Lora' ;
    font-size: 22px;
    color: var(--font-color);
    margin-bottom: 2vh;
}
.landingPage-article-data{
    font-family: 'Lora' ;
    color: rgb(66, 65, 65);
    font-size: 15px;
}
.landingPage-article-details{
    display: flex;
    box-sizing: border-box;
    padding-top: 4vh;
}
.landingPage-article-tag{
    font-family: 'Lora' ;
    height: 4vh;
    padding:0 0.5vw;
    padding-top: 0.8vh;
    background-color: rgb(233, 229, 229);
    border-radius: 2.4vh;
    font-size: 15px;
}
.landingPage-article-save-div img{
    height: 3vh;
    margin-left: 33vw;
}
.landingPage-article-dots-div img{
    height: 4vh;
    transform: translateY(-15%);
    margin-left: 2vw;
}

/* Search Page */


/* User Search Page */

.searchPage-div{
    display: flex;
    /* margin-top: 10vh; */
    overflow: hidden;
}
.searchPage-content-section{
    width:65vw;
    min-height: 100vh;
    box-sizing: border-box;
    border-right: 0.5px solid rgb(219, 219, 219);
    padding: 0 8vw;
    overflow: hidden;
}
.searchPage-searchDetails{
    font-size: 40px;
    margin:8vh 0;
}
.searchPage-routes{
    color: var(--unselected);
    display: flex;
    gap: 2.5vw;
    font-size: 14px;
    padding-bottom: 2vh;
    border-bottom: 0.5px solid rgb(219, 219, 219);
    cursor: pointer;
}
.searchPage-routes p:hover{
    text-decoration: underline;
}
.searchPage-home-div{
    padding-top: 4vh;
}
.searchPage-article{
    padding: 4vh 0;
    border-bottom: 0.5px solid rgb(219, 219, 219);
}
.searchPage-article-title{
    font-family: 'Lora' ;
    font-size: 22px;
    color: var(--font-color);
    margin-bottom: 2vh;
}
.searchPage-article-data{
    font-family: 'Lora' ;
    color: rgb(66, 65, 65);
    font-size: 15px;
}
.searchPage-article-details{
    display: flex;
    box-sizing: border-box;
    padding-top: 4vh;
}
.searchPage-article-tag{
    font-family: 'Lora' ;
    height: 4vh;
    padding:0 0.5vw;
    padding-top: 0.8vh;
    background-color: rgb(233, 229, 229);
    border-radius: 2.4vh;
    font-size: 15px;
}
.searchPage-article-save-div img{
    height: 3vh;
    margin-left: 33vw;
}
.searchPage-article-dots-div img{
    height: 4vh;
    transform: translateY(-15%);
    margin-left: 2vw;
}
.searchPage-article-dialog{
    border : 0.5px solid rgb(218, 213, 213);
    outline: none;
    border-radius: 5px;
    margin-left: 43.5vw;
    margin-top: 4.5vh;
    opacity: 0;
    transform: translateY(-20%);
    transition: all 0.25s ease-out;
}
.searchPage-article-dialog-settingsAndEdit{
    border-bottom: 0.5px solid rgb(226, 223, 223);
    margin-bottom: 2vh;
}
.searchPage-article-dialog-deleteStory{
    color: rgb(212, 51, 51) !important;
}
.SearchPage-article-dialog p{
    font-size: 15px;
    font-family: 'lora';
    color: rgb(56, 55, 55);
    margin-bottom: 2vh;
    cursor: pointer;
}

.user-searchPage-account-div{
    display: flex;
    align-items: center;
    padding: 4vh 0;
    border-bottom: 0.5px solid rgb(214, 211, 211);
}

.user-searchPage-div img{
    height: 8vh;
    width: 8vh;
    object-fit: cover;
    border-radius: 50%;
    border: 0.1px solid rgb(216, 212, 212);
    margin-right: 2vw;
}
.user-searchPage-account-details-div{
    width: 35vw;
}
.user-searchPage-account-name{
    font-family: 'lora';
    font-size: 16px;
}
.user-searchPage-account-bio{
    margin-top: 1vh;
    font-family: 'lora';
    font-size: 14px;
    color: rgb(80, 77, 77);
}
/* Article Search Page */


.article-searchPage-div{
    display: flex;
    /* margin-top: 10vh; */
    overflow: hidden;
}
.article-searchPage-content-section{
    width:65vw;
    min-height: 100vh;
    box-sizing: border-box;
    border-right: 0.5px solid rgb(219, 219, 219);
    padding: 0 8vw;
    overflow: hidden;
}
.article-searchPage-userName{
    font-size: 40px;
    margin:8vh 0;
}
.article-searchPage-routes{
    color: var(--unselected);
    display: flex;
    gap: 2.5vw;
    font-size: 14px;
    padding-bottom: 2vh;
    border-bottom: 0.5px solid rgb(219, 219, 219);
    cursor: pointer;
}
.article-searchPage-routes p:hover{
    text-decoration: underline;
}
.article-searchPage-home-div{
    padding-top: 4vh;
}
.article-searchPage-article{
    padding: 4vh 0;
    border-bottom: 0.5px solid rgb(219, 219, 219);
}
.article-searchPage-article-accountDetails{
    display: flex;
    align-items: center;
}
.article-searchPage-article-accountDetails p{
    font-family: 'lora';
}
.article-searchPage-article-accountDetails img{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    object-fit:cover;
    border: 0.1px solid rgb(226, 222, 222);
    margin-right: 1vw;
}
.article-searchPage-article-title{
    font-family: 'Lora' ;
    font-size: 22px;
    color: var(--font-color);
    margin-bottom: 2vh;
}
.article-searchPage-article-data{
    font-family: 'Lora' ;
    color: rgb(66, 65, 65);
    font-size: 15px;
}
.article-searchPage-article-details{
    display: flex;
    box-sizing: border-box;
    padding-top: 4vh;
}
.article-searchPage-article-tag{
    font-family: 'Lora' ;
    height: 4vh;
    padding:0 0.5vw;
    padding-top: 0.8vh;
    background-color: rgb(233, 229, 229);
    border-radius: 2.4vh;
    font-size: 15px;
}
.article-searchPage-article-save-div img{
    height: 3vh;
    margin-left: 33vw;
}
.article-searchPage-article-dots-div img{
    height: 4vh;
    transform: translateY(-15%);
    margin-left: 2vw;
}


/* Publish Article Page */

.publishPage-form{
    display: flex;
    flex-direction: column;
    padding: 7vh 20vw;
}
#publishPage-title::placeholder,
#publishPage-article::placeholder{
    color: rgb(182, 179, 179);
}
#publishPage-title{
    font-size: 40px;
    font-family: 'lora';
    border: none;
    outline: none;
    color: rgb(49, 48, 48);
}
#publishPage-article{
    padding: 1.5vh 0.1vw;
    font-size: 20px;
    font-family: 'lora';
    border: none;
    outline: none;
    color: rgb(49, 48, 48);
}
.publishPage-submit{
    background-color: rgb(31, 179, 31);
    border: none;
    color: white;
    height: 5vh;
    width: 7vw;
    font-size: 15px;
    border-radius: 3.5vw;
    cursor: pointer;
    margin: 4vh 0;
}