@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    margin: 0px;
    font-family:helvetica;
    overflow-x: hidden;
    /* font-family: 'Lora'; */
}

.light{
    --bg-color : white;
    --font-color : rgb(36,36,36); 
    --unselected :  rgb(119, 117, 117);
    
}
.loginPage-div{
    display: flex;
    box-sizing: border-box;
    padding:2vh 4vw;
    /* width: 100vw; */
}
.loginPage-div img{
    height: 80vh;
}
.signupPage-loginSection{
    margin:2vh 8vw;
    padding: 0vh 2vw;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    font-size: 20px;
    color: var(--font-color);
    border: 0.5px solid rgb(177, 176, 176);
    border-radius: 10px;
}
.loginPage-loginSection{
    margin:8vh 8vw;
    padding: 0vh 2vw;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    font-size: 20px;
    color: var(--font-color);
    border: 0.5px solid rgb(177, 176, 176);
    border-radius: 10px;
}
.signupPage-loginSection img,
.loginPage-loginSection img{
    height: 5vh;
    margin-left: 2vw;
}
.loginPage-Login-title{
    display: flex;
    font-size: 30px;
    padding-bottom: 2vh;
}
.loginPage-name-div,
.loginPage-email-div,
.loginPage-password-div{
    display: flex;
    align-items:center;
    margin: 2vh 0;
}
.loginPage-name-div label,
.loginPage-email-div label,
.loginPage-password-div label{
    color: rgb(109, 107, 107);
    position: absolute;
    margin-left: 1vw;
    padding: 0.4vh 0.5vw;
    transition: 0.15s all ease-in;
    font-size: 18px;
}
#Name,#Email,#Password{
    height: 8vh;
    width: 20vw;
    border-radius: 5px;
    border: 0.5px solid rgb(109, 107, 107);
    font-size: 18px;
    padding: 0 0.5vw;
    position: relative;
}
#Name:focus,#Email:focus,#Password:focus{
    outline: none;
}
label.emailClick,
.loginPage-name-div #Name:focus ~ label,
.loginPage-name-div #Name:valid ~ label,
.loginPage-email-div #Email:focus ~ label,
.loginPage-email-div #Email:valid ~ label,
.loginPage-password-div #Password:focus ~ label,
.loginPage-password-div #Password:valid ~ label{
    color: rgb(243, 241, 241);
    background-color: rgb(44,124,151);
    font-size: 13px;    
    transform: translate(10% ,-140%);
    border-radius: 20px;

}
.showPassword-p{
    position: absolute;
    margin-left: 18vw;
    cursor: pointer;
}
.forgotPassword{
    font-size: 15px;
    color: rgb(10,102,194);
    cursor: pointer;
    margin-bottom: 2vh;
}
.forgotPassword:hover{
    text-decoration: underline;

}
.loginPage-submit-btn{
    width: 20vw;
    height: 6vh;
    border-radius: 3vh;
    background-color: rgb(10,102,194);
    border: 0.5px solid rgb(10,102,194);
    color: white;
    font-size: 20px;
}
.loginPage-submit-btn:hover{
    background-color: rgb(15, 79, 143);
}
.loginPage-error-div{
    margin: 3vh 0;
    border: 0.5px solid rgb(231, 73, 73);
    border-radius: 10px;
    padding: 2vh 0.5vw;
    width:20vw;
    color:rgb(231, 73, 73);
}


/* Navbar Styling */
nav{
    height: 10vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    padding:0.5vh 1vw;
    align-items: center;
    border-bottom: 0.01px solid rgb(231, 222, 222);
    font-family: Arial, Helvetica, sans-serif;
    /* position: fixed;
    top: 0px; */
    background-color: white;
}
.navbar-homepage img{
    height: 7vh;
    border-radius: 50%;
    cursor: pointer;
}
.navbar-searchbar img{
    height: 3.5vh;
    position: absolute;
    margin-left: 1.8vw;
    margin-top: 1.3vh;
}
.navbar-searchbar input{
    height: 6vh;
    width: 12vw;
    border-radius: 7.5vw;
    background-color: rgb(240, 239, 239);
    border: none;
    margin-left: 1vw;
    margin-right: 53vw;
    padding: 0 1vw;
    padding-left: 3vw;
    font-size: 14px ;
    outline: none;
}

.navbar-publish-div,
.navbar-login-div,
.navbar-signup-div,
.navbar-logout-div{
    font-size: 15px;
    border: none;
    color: var(--unselected);
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin: 0 1vw ;
    cursor: pointer;
}
.navbar-publish-div img,
.navbar-signup-div img{
    height: 4vh;
    margin-top: 0.5vh;
}
.navbar-logout-div img{
    height: 3.2vh;
}
.navbar-userinfo{
    font-size: 18px;
    border: none;
    /* color: rgb(119, 117, 117); */
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin: 0 1vw ;
    cursor: pointer;
}
.LoginAndSignup,
.UserInfoAndLogout{
    display: flex;
    align-items: center;
}



/* Loading Page */

.PageisLoading-div{
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content:center;
}
.PageisLoading-div img{
    height: 50vh;
    width: auto;
    transform: translate(0, 20%);
}
/* rticle */

.UserArticle{
    padding: 4vh 0;
    border-bottom: 0.5px solid rgb(219, 219, 219);
}
.UserArticle-accouhtDetails-date{
    color: rgb(119, 115, 115);
    font-family: 'lora';
    font-size: 16px;
    margin-bottom: 2vh;
}
.UserArticle-title{
    font-family: 'Lora' ;
    font-size: 22px;
    color: var(--font-color);
    margin-bottom: 2vh;
}
.UserArticle-data{
    font-family: 'Lora' ;
    color: rgb(66, 65, 65);
    font-size: 15px;
}
.UserArticle-details{
    display: flex;
    box-sizing: border-box;
    padding-top: 4vh;
}
.UserArticle-tags-div{
    width: 20vw;
    display: flex;
}
.UserArticle-tags-div p{
    font-family: 'Lora' ;
    height: 4vh;
    width: auto;
    padding:0 0.5vw;
    padding-top: 0.8vh;
    background-color: rgb(233, 229, 229);
    border-radius: 2.4vh;
    font-size: 15px;
}
.UserArticle-save-div img{
    height: 3vh;
    margin-left: 18vw;
}
.UserArticle-dots-div img{
    height: 4vh;
    transform: translateY(-15%);
    margin-left: 2vw;
}

/* ExternalUserArticle */

.ExternalUserArticle{
    padding: 4vh 0;
    border-bottom: 0.5px solid rgb(219, 219, 219);
}
.ExternalUserArticle-accountDetails{
    display: flex;
    align-items: center;
    margin-bottom: 1.7vh;
}
.ExternalUserArticle-accountDetails p{
    font-family: 'lora';
}
.ExternalUserArticle-accountDetails-userName{
    /* font-family: Arial, Helvetica, sans-serif; */
    margin-right:0.2vw;
    color: black;
    /* font-weight: 600; */
    font-size: 15px;
}
.ExternalUserArticle-accouhtDetails-date{
    color: rgb(66, 65, 65);
    font-size: 14px;
}
.ExternalUserArticle-accountDetails img{
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    object-fit:cover;
    border: 0.1px solid rgb(226, 222, 222);
    margin-right: 0.6vw;
}
.ExternalUserArticle-title{
    font-family: 'Lora' ;
    font-size: 22px;
    color: var(--font-color);
    margin-bottom: 2vh;
}
.ExternalUserArticle-data{
    font-family: 'Lora' ;
    color: rgb(66, 65, 65);
    font-size: 15px;
}
.ExternalUserArticle-details{
    display: flex;
    box-sizing: border-box;
    padding-top: 4vh;
}
.ExternalUserArticle-tags-div{
    width: 20vw;
    display: flex;
}
.ExternalUserArticle-tags-div p{
    font-family: 'Lora' ;
    width:auto;
    height: 4vh;
    padding:0 0.8vw;
    padding-top: 0.8vh;
    background-color: rgb(233, 229, 229);
    border-radius: 2.4vh;
    font-size: 15px;
}
.ExternalUserArticle-save-div img{
    height: 3vh;
    margin-left: 18vw;
}
.ExternalUserArticle-dots-div img{
    height: 3.6vh;
    transform: translateY(-10%);
    margin-left: 2vw;
}
.UserArticle-dialog,
.ExternalUserArticle-dialog{
    border : 0.5px solid rgb(218, 213, 213);
    outline: none;
    border-radius: 5px;
    margin-left: 43.5vw;
    margin-top: 4.5vh;
    opacity: 0;
    transform: translateY(-20%);
    transition: all 0.25s ease-out;
}
.UserArticle-dialog-settingsAndEdit,
.ExternalUserArticle-dialog-settingsAndEdit {
    border-bottom: 0.5px solid rgb(226, 223, 223);
    margin-bottom: 2vh;
}
.UserArticle-dialog-deleteStory,
.ExternalUserArticle-dialog-removeFromFeed{
    color: rgb(212, 51, 51) !important;
}
.ExternalUserArticle-dialog p,
.UserArticle-dialog p{
    font-size: 15px;
    font-family: 'lora';
    color: rgb(56, 55, 55);
    margin-bottom: 2vh;
    cursor: pointer;
}



/* user Page styling */

.userPage-div{
    display: flex;
    /* margin-top: 10vh; */
    overflow: hidden;
}
.userPage-content-section{
    width:65vw;
    min-height: 100vh;
    box-sizing: border-box;
    border-right: 0.5px solid rgb(219, 219, 219);
    padding: 0 8vw;
    overflow: hidden;
}
.UserPage-userName{
    font-size: 40px;
    margin:8vh 0;
}
.userPage-routes{
    color: var(--unselected);
    display: flex;
    gap: 2.5vw;
    font-size: 14px;
    padding-bottom: 2vh;
    border-bottom: 0.5px solid rgb(219, 219, 219);
    cursor: pointer;
}
.userPage-routes p:hover{
    text-decoration: underline;
}
.userPage-home-div{
    padding-top: 4vh;
}


/* USER PAGE BIO SECTION */

.userPage-Bio-section-div{
    box-sizing: border-box;
    width: 35vw;
    padding: 4vh 3.5vw;
    /* position: fixed;
    right: 0px; */
}
#userPage-profilePicture{
    display: none;
}
.userPage-Bio-section-profileImage{
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    object-fit: cover;
}
.userPage-Bio-section-userName{
    font-weight: 600;
    color: rgb(46, 46, 46);
    padding-top: 2.5vh;
    font-family: 'lora';
    font-size: 18px;
}
.userPage-Bio-section-followers-count{
    padding-top: 0.3vh;
    font-family: 'lora';
    font-size: 17px;
    color: var(--unselected);
}
.userPage-Bio-section-myBio{
    padding-top: 2.8vh;
    font-size: 15px;
    font-family: 'lora';
    padding-right: 2vw;
    color:var(--unselected);
}
.userPage-Bio-section-myBio-edit{
    color: rgb(18, 138, 18);
    font-size: 14px;
    letter-spacing: 0.3px;
    width: 5.5vw;
    margin: 2vh 0;
    cursor: pointer;
}
.userPage-Bio-section-myBio-edit:hover{
    color: rgb(18, 54, 18);
}
.userPage-Bio-section-followings-header{
    font-size: 15px;
    padding: 1vh 0;
    margin-bottom: 2vh;
}
.userPage-Bio-section-following-details{
    display: flex;
    align-items: center;
    padding: 1vh 1vw; 
    font-family: 'lora';
    font-size: 16px;
    color: rgb(66, 65, 65);
    cursor: pointer;
    transition: all 0.25s ease-out;
}
.userPage-Bio-section-following-details:hover{
    color: rgb(163, 149, 19);
}
.userPage-Bio-section-following-details img{
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    border: 0.1px solid rgb(192, 189, 189);
    margin-right: 1vw;
    font-weight: 100;
    overflow: hidden;
    object-fit: cover;
}

/* dialog box */

.userPage-Bio-section-editProfile-dialogBox{
    padding: 4vh 3vw;
    box-sizing: border-box;
    height: 85vh;
    width: 40vw;
    margin: 7.5vh 30vw;
    border: 0.5px solid rgb(230, 225, 225);
    border-radius: 8px;
}
.userPage-Bio-section-editProfile-Heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.userPage-Bio-section-editProfile-Heading button{
    background-color: white;
    border: none;
}
.userPage-Bio-section-editProfile-Heading button img{
    height: 4vh;
    object-fit: cover;
}
.userPage-Bio-section-editProfile-dialogBox-form img{
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2vw;
    margin-top: 1vh;
}
.editProfile-Image-container{
    display: flex;
    /* align-items: center; */
}
#editProfile-Image{
    display: none;
}
.editProfile-Image-div label {
    color: rgb(18, 138, 18);
    font-size: 15px;
    letter-spacing: 0.3px;
    width: 5.5vw;
    margin: 2vh 0;
    cursor: pointer;
}
.editProfile-Image-remove{
    color: rgb(218, 68, 68);
    font-size: 15px;
    letter-spacing: 0.3px;
    width: 5.5vw;
    margin: 2vh 0;
    cursor: pointer;
}
.editProfile-bio-div input,
.editProfile-name-div input{
    border: none;
    font-size: 16px;
    border-bottom: 0.5px solid rgb(190, 186, 186);
    padding: 1vh 0;
    margin-top: 2vh;
    width: 30vw;
}
.editProfile-name-div input:focus-visible,
.editProfile-bio-div input:focus-visible{
    outline: none;
}
.editProfile-Image-heading,
.editProfile-bio-heading,
.editProfile-name-heading{
    margin-top: 5vh;
    font-size: 15px;
    color: rgb(92, 88, 88);
}
.editProfile-bio-details,
.editProfile-name-details{
    margin-top: 0.5vh;
    color: rgb(160, 157, 157);
    font-size: 13px;
}
.editPage-buttons-div{
    margin-top: 4vh;
    display: flex;
    justify-content: flex-end;
}
.editPage-cancel-button{
    background-color: white;
    border: 1px solid rgb(31, 179, 31);
    color: rgb(31, 179, 31);
    height: 6vh;
    width: 7vw;
    font-size: 15px;
    border-radius: 3.5vw;
    cursor: pointer;
}

.editPage-save-button{
    background-color: rgb(31, 179, 31);
    border: none;
    color: white;
    height: 6vh;
    width: 7vw;
    font-size: 15px;
    border-radius: 3.5vw;
    margin-left: 1.5vw;
    cursor: pointer;
}
.editPage-save-button:hover{
    background-color: rgb(14, 112, 14);
}
.editPage-cancel-button:hover{
    color: rgb(14, 112, 14);
    border-color:  rgb(14, 112, 14);
}
.editPage-save-button:disabled{
    background-color: rgb(187, 233, 187);
}

/* Account Page */


.accountPage-div{
    display: flex;
    /* margin-top: 10vh; */
    overflow: hidden;
}
.accountPage-content-section{
    width:65vw;
    min-height: 100vh;
    box-sizing: border-box;
    border-right: 0.5px solid rgb(219, 219, 219);
    padding: 0 8vw;
    overflow: hidden;
}
.accountPage-userName{
    font-size: 40px;
    margin:8vh 0;
}
.accountPage-routes{
    color: var(--unselected);
    display: flex;
    gap: 2.5vw;
    font-size: 14px;
    padding-bottom: 2vh;
    border-bottom: 0.5px solid rgb(219, 219, 219);
    cursor: pointer;
}
.accountPage-routes p:hover{
    text-decoration: underline;
}
.accountPage-home-div{
    padding-top: 4vh;
}

/* ACCOUNT PAGE BIO SECTION */
.accountPage-Bio-section-div{
    box-sizing: border-box;
    width: 35vw;
    padding: 4vh 3.5vw;
    /* position: fixed;
    right: 0px; */
}
#accountPage-profilePicture{
    display: none;
}
.accountPage-Bio-section-profileImage{
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    object-fit: cover;
}
.accountPage-Bio-section-userName{
    font-weight: 600;
    color: rgb(46, 46, 46);
    padding-top: 2.5vh;
    font-family: 'lora';
    font-size: 18px;
}
.accountPage-Bio-section-followers-count{
    padding-top: 0.3vh;
    font-family: 'lora';
    font-size: 17px;
    color: var(--unselected);
}
.accountPage-Bio-section-myBio{
    padding-top: 2.8vh;
    font-size: 15px;
    font-family: 'lora';
    padding-right: 2vw;
    color:var(--unselected);
}
.accountPage-Bio-section-myBio-edit{
    color: rgb(18, 138, 18);
    font-size: 14px;
    letter-spacing: 0.3px;
    width: 5.5vw;
    margin: 2vh 0;
    cursor: pointer;
}
.accountPage-Bio-section-myBio-edit:hover{
    color: rgb(18, 54, 18);
}
.accountPage-Bio-section-followings-header{
    font-size: 15px;
    padding: 1vh 0;
    margin-bottom: 2vh;
}
.accountPage-Bio-section-following-details{
    display: flex;
    align-items: center;
    padding: 1vh 1vw; 
    font-family: 'lora';
    font-size: 16px;
    color: rgb(66, 65, 65);
    cursor: pointer;
    transition: all 0.25s ease-out;
}
.accountPage-Bio-section-following-details:hover{
    color: rgb(163, 149, 19);
}
.accountPage-Bio-section-following-details img{
    height: 4vh;
    width: 4vh;
    object-fit: cover;
    border-radius: 50%;
    border: 0.1px solid rgb(192, 189, 189);
    margin-right: 1vw;
    font-weight: 100;
    overflow: hidden;
}
.accountPage-Bio-section-Follow-btn{
    background-color: rgb(31, 179, 31);
    border: none;
    color: white;
    height: 5vh;
    width: 7vw;
    font-size: 15px;
    border-radius: 3.5vw;
    cursor: pointer;
    margin: 4vh 0;
}
.accountPage-Bio-section-Following-btn{
    background-color: white;
    border: 1px solid rgb(31, 179, 31);
    color: rgb(31, 179, 31);
    height: 5vh;
    width: 7vw;
    font-size: 15px;
    border-radius: 3.5vw;
    cursor: pointer;
    margin: 4vh 0;
}
#accountPage-Bio-section-toggleFollow-btn:disabled{
    background-color: rgb(187, 233, 187);
    border: none;
}

/* LandingPage */

.landingPage-div{
    display: flex;
    /* margin-top: 10vh; */
    overflow: hidden;
}
.landingPage-content-section{
    width:65vw;
    min-height: 100vh;
    box-sizing: border-box;
    border-right: 0.5px solid rgb(219, 219, 219);
    padding: 0 8vw;
    overflow: hidden;
}
.landingPage-userName{
    font-size: 40px;
    margin:8vh 0;
}
.landingPage-routes{
    color: var(--unselected);
    display: flex;
    gap: 2.5vw;
    font-size: 14px;
    padding-bottom: 2vh;
    border-bottom: 0.5px solid rgb(219, 219, 219);
    cursor: pointer;
}
.landingPage-routes p:hover{
    text-decoration: underline;
}
.landingPage-home-div{
    padding-top: 4vh;
}


/* Landing Page - Bio div */
.searchPage-bio-section,
.landingPage-Bio-Section{
    width: 35vw;
    box-sizing: border-box;
    padding: 2vh 3vw;
}
.searchPage-bio-section-related-tags,
.landingPage-Recommended-tags{
    margin:  4vh 0;
}
.searchPage-bio-section-related-tags-headings,
.landingPage-whoToFollow-heading,
.landingPage-Recommended-tags-headings{
    font-family: 'lora';
    font-size: 16px;
    color: rgb(43, 42, 42);
    font-weight: 600;
    margin-bottom: 3vh;
}
.searchPage-bio-section-related-tags-div,
.landingPage-Recommended-tags-div{
    width: 25vw;
    display: flex;
    flex-wrap: wrap;
}
.searchPage-bio-section-related-tag,
.landingPage-recommended-tag{
    font-family: 'Lora' ;
    height: 4vh;
    width: auto;
    padding:0 1vw;
    padding-top: 0.8vh;
    background-color: rgb(235, 232, 232);
    border-radius: 2.4vh;
    font-size: 16px;
    margin : 0.5vh 0.5vw;
    cursor : pointer;
}
.landingPage-whoToFollow{
    margin: 6vh 0;
}
.landingPage-whoToFollow-div{
    display: flex;
    flex-direction: column;
}
.landingPage-whoToFollow-account{
    display: flex;
    height: 10vh;
    align-items: center;
}
.landingPage-whoToFollow-account img{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1vw;
    cursor: pointer;
}
.landingPage-whoToFollow-account-userDetails{
    width: 15vw;
    margin-right: 0.5vw;
    cursor: pointer;
}
.userDetails-name{
    font-family: 'lora';
    font-size: 17px;
    font-weight: 600;
    color: rgb(39, 38, 38);
    letter-spacing: 0.1px;
}
.userDetails-bio{
    font-family: 'lora';
    color: rgb(100, 98, 98);
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-top: 0.4vh;
}
/* Search Page */

.searchPage-div{
    display: flex;
    /* margin-top: 10vh; */
    overflow: hidden;
}
.searchPage-content-section{
    width:65vw;
    min-height: 100vh;
    box-sizing: border-box;
    border-right: 0.5px solid rgb(219, 219, 219);
    padding: 0 8vw;
    overflow: hidden;
}
.searchPage-searchDetails{
    font-size: 40px;
    margin:8vh 0;
}
.searchPage-routes{
    color: var(--unselected);
    display: flex;
    gap: 2.5vw;
    font-size: 14px;
    padding-bottom: 2vh;
    border-bottom: 0.5px solid rgb(219, 219, 219);
    cursor: pointer;
}
.searchPage-routes p:hover{
    text-decoration: underline;
}
.searchPage-home-div{
    padding-top: 4vh;
}
span{
    color: rgb(139, 137, 137);
}
/* User Search Page */

.user-searchPage-account-div{
    display: flex;
    align-items: center;
    padding: 4vh 0;
    border-bottom: 0.5px solid rgb(214, 211, 211);
}

.user-searchPage-div img{
    height: 8vh;
    width: 8vh;
    object-fit: cover;
    border-radius: 50%;
    border: 0.1px solid rgb(216, 212, 212);
    margin-right: 2vw;
}
.user-searchPage-account-details-div{
    width: 35vw;
}
.user-searchPage-account-name{
    font-family: 'lora';
    font-size: 16px;
}
.user-searchPage-account-bio{
    margin-top: 1vh;
    font-family: 'lora';
    font-size: 14px;
    color: rgb(80, 77, 77);
}


/* Publish Article Page */

.publishPage-form{
    display: flex;
    flex-direction: column;
    padding: 7vh 20vw;
}
#publishPage-title::placeholder,
#publishPage-article::placeholder{
    color: rgb(182, 179, 179);
}
#publishPage-title{
    font-size: 40px;
    font-family: 'lora';
    border: none;
    outline: none;
    color: rgb(49, 48, 48);
    transition : 0.3s all ease-in-out;
}
#publishPage-article{
    padding: 1.5vh 0.1vw;
    font-size: 20px;
    font-family: 'lora';
    border: none;
    outline: none;
    color: rgb(49, 48, 48);
}
.publishPage-submit{
    background-color: rgb(31, 179, 31);
    border: none;
    color: white;
    height: 5vh;
    width: 7vw;
    font-size: 15px;
    border-radius: 3.5vw;
    cursor: pointer;
    margin: 4vh 0;
}
.publishPage-tags-list{
    display: flex;
    gap: 1vw;
    min-height: 4.8vh;
}
.publishPage-tags-list p{
    font-family: 'Lora' ;
    height: 4vh;
    width: auto;
    padding:0 0.5vw;
    padding-top: 0.8vh;
    background-color: rgb(231, 231, 231);
    border-radius: 2.4vh;
    font-size: 15px;
}
.publishPage-tags-p-remove {
    margin-left: 0.6vw;
    color: rgb(110, 108, 108);
    font-size: 12px;
    padding: 0.2vw 0.3vw;
    border: 0.1px solid rgb(110, 108, 108);
    border-radius: 2.2vw;
    cursor: pointer;
}
.publishPage-tags-description{
    font-size: 16px;
    font-family: 'lora';
}
#publishPage-tags-input{
    font-size: 18px;
    font-family: 'lora';
    outline: none;
    border: 0.5px solid rgb(202, 198, 198);
    border-radius: 10px;
    padding: 0.8vh 0.8vw;
    margin : 2vh 0;
}
.publishPage-tags-add-btn{
    background-color: white;
    border: 1px solid rgb(31, 179, 31);
    color: rgb(31, 179, 31);
    height: 5vh;
    width: 3vw;
    font-size: 14px;
    border-radius: 3.5vw;
    cursor: pointer;
    margin-left: 2vw;
    transition: 0.2s all ease-in-out;
}
.publishPage-tags-add-btn:hover{
    border-color: rgb(65, 206, 65);
    background-color: rgb(65, 206, 65);
    color: white;
}
/* Article Page */

.articlePage-div{
    display: flex;
    flex-direction: column;
    padding: 7vh 24vw;
}
.articlePage-title{
    font-size: 40px;
    font-family: 'lora';
    border: none;
    outline: none;
    color: rgb(49, 48, 48);
}
.articlePage-user-details {
    display: flex;
    align-items: center;
    margin: 4vh 0;
}
.articlePage-user-details img{
    height: 7vh;
    width: 7vh;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1vw;
}
.articlePage-article-div{
    font-size: 20px;
    font-family: 'lora';
    border: none;
    outline: none;
    color: rgb(49, 48, 48);

}
.articlePage-InnerDetails-userName{
    font-family: 'lora';
    font-size: 18px;
}
.articlePage-InnerDetails div{
    display: flex;
    align-items: center;
}
.articlePage-Bio-section-Follow-btn{
    color: rgb(21, 148, 21);
    border: none;
    background-color: white;
    font-size: 15.5px;
    cursor: pointer;
}
.articlePage-Bio-section-Following-btn{
    border: none;
    background-color: white;
    color: rgb(105, 155, 105);    
    font-size: 15.5px;
    cursor: pointer;
}
#articlePage-Bio-section-toggleFollow-btn:disabled{
    color: rgb(207, 202, 202);
    border: none;
}
.articlePage-innerDetails-date{
    margin-top: 1vh;
    font-size: 15px;
    color: rgb(131, 128, 128);
}
.articlePage-actions-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.5px solid rgb(221, 216, 216);
    border-bottom: 0.5px solid rgb(221, 216, 216);
    padding: 2vh 1vw;
    margin-bottom: 2vh;
}
.articlePage-likes-and-comments{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.articlePage-likes img,
.articlePage-comments img{
    height: 4vh;
}
.articlePage-likes,
.articlePage-comments{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}


/* Comments Section */

.Comments-dialog{
    margin-left: 70vw;
    width: 30vw;
    height: 100vh;
    outline: none;
    border: none;
    padding: 2vh 2vw;
    box-sizing: border-box;
    margin-bottom: 0;
    transform: translateX(100%);
    transition : all 0.3s ease-out;
}
.comments-dialog-heading{
    font-size:20px;
    font-family: 'lora';
    font-weight: 600;
    padding: 2vh 0;
    letter-spacing: 1px;
}
.comments-dialog-inputBox{
    margin : 1vh 0;
    padding: 1vh 1vw;
    border: 0.5px solid rgb(216, 212, 212);
    border-radius: 1vh;
    margin-bottom: 5vh;
    height: 30vh;
}
.comments-dialog-inputBox textarea{
    font-family: 'lora';
    width: 20vw;
    height: 16vh;
    font-size: 16px;
    border: none;
    outline: none;
}
.comments-dialog-inputBox-buttons{
    display: flex;
    justify-content: end;
}
.inputBox-cancel-btn{
    background-color: white;
    border: 1px solid rgb(31, 179, 31);
    color: rgb(31, 179, 31);
    height: 5vh;
    width: 6vw;
    font-size: 14px;
    border-radius: 3.5vw;
    cursor: pointer;
}
.inputBox-respond-btn{
    background-color: rgb(31, 179, 31);
    border: none;
    color: white;
    height: 5vh;
    width: 6vw;
    font-size: 14px;
    border-radius: 3.5vw;
    margin-left: 1.5vw;
    cursor: pointer;
}
.inputBox-respond-btn:disabled{
    background-color: rgb(187, 233, 187);
}
.comments-dialog-inputBox-userDetails{
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}
.comments-dialog-inputBox-userDetails img{
    height: 5vh;
    width: 5vh;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.8vw;
}
.comments-dialog-inputBox-userDetails p{
    font-size: 16;
    font-family: 'lora';
}

.other-comments{

}
.other-comment{
    margin: 1vh 0;
    border-top: 0.5px solid rgb(235, 232, 232);
    padding: 3vh 1vw;
}
.other-comments-user-details{
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}
.other-comments-user-details img{
    height: 5vh;
    width: 5vh;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1vw;
}
.other-comments-name{
    font-size: 16;
    width: 10vw;
    font-family: 'lora';
}
.other-comments-theComment{
    font-size: 15px;
    font-family: 'lora';

}
.other-comments-date{
    font-family: 'lora';
    font-size: 12px;
    color: rgb(185, 180, 180);
}
.other-comments-options{
    display: flex;
    margin-left: 6vw;
}
.other-comments-options img{
    height: 2vh;
    width: 2vh;
    cursor: pointer;
}


/* Delete Dialog  */
.commentBox-report-dialog,
.commentBox-delete-dialog{
    border : 0.5px solid rgb(218, 213, 213);
    outline: none;
    border-radius: 5px;
    margin-left: 20.5vw;
    margin-top: 15vh;
    opacity: 0;
    transform: translateY(-20%);
    transition: all 0.25s ease-out;
}
.commentBox-report,
.commentBox-delete{
    color: rgb(212, 51, 51) !important;
    cursor: pointer;
}
.commentBox-close img{
    height: 3vh;
    width: 3vh;
    cursor: pointer;
}